/* CSS Styles for Inquiry Details */
.inquiry-details-wrap {
  max-width: 850px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inquiry-details {
  margin-top: 20px;
}

.inquiry-details p {
  margin-bottom: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .inquiry-details-wrap {
    padding: 10px;
  }
}

#toplevel_page_inquiry-details {
  display: none;
}

/**
*
*Email Composer
*
*/
.email-composer-section {
  max-height: 0;
  overflow-x: scroll;
  transition: max-height 0.3s ease-out; /* Adjust the duration and easing as needed */
}

.email-composer-section.open {
  max-height: 650px; /* Adjust the maximum height as needed */
}
